@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rebeccapurple;
}
#nav-bar{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 5px 5px 5px 20px;
    font-size: 0.8em;
   
}
h2{
    color: #1b9be0;
}
#main-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 10px; 
}
#main-list > li{
    padding: 10px;
    
}
#main-list > li:hover{
    background-color: rgb(99, 99, 253);
    padding: 8px;
    border-radius: 5px;
    transition: .3s;
}
#main-list a{
    text-decoration: none;
}

#buttom{
   
    align-self: center;
    background-color: #13293d;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 8px;
    font-weight: bold;
    margin-left: 10px;
}
#buttom-link{
    text-decoration: none;
}
#buttom:hover{
    background-color: #1b9be0;
    transition:.5s;
}
#buttom > a:hover{
    text-decoration: none;
}
main{
    position: relative;
    display: flex;
    background-image: url(../images/pexels-pixabay-416778.jpg);
    height: 91vh;
    width: 100vw;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
#content{
    position: absolute;
    display: flex;
    width: 50vw;
    flex-direction: column;
    text-align: justify;
    top: 20vh;
    left: 30px;
}
#content h2{
    margin-bottom: 10px;
}
#content p{
    width: 30vw;
}
